//font
$font-family: 'Nanum Barun Gothic', sans-serif;
$font-weight-regular: 400;
$font-weight-medium: 500;
$font-weight-bold: 700;

// font size
$h1-font-size: 30px;
$h2-font-size: 24px;
$h3-font-size: 18px;
$h4-font-size: 16px;
$h5-font-size: 14px;
$h6-font-size: 12px;
$xlarge-font-size: 18px;
$large-font-size: 16px;
$normal-font-size: 14px;
$small-font-size: 12px;
$smaller-font-size: 10px;

// mobile font size
$mobile-h1-font-size: 30px;
$mobile-h2-font-size: 24px;
$mobile-h3-font-size: 18px;
$mobile-h4-font-size: 16px;
$mobile-h5-font-size: 14px;
$mobile-h6-font-size: 12px;
$mobile-xlarge-font-size: 18px;
$mobile-large-font-size: 16px;
$mobile-normal-font-size: 14px;
$mobile-small-font-size: 12px;
$mobile-xsmall-font-size: 10px;
$mobile-large-font-size: 16px;
$mobile-normal-font-size: 14px;

$main-color: #000000;
$sub-color: #282828;
$gray-1: #333333;
$gray-2: #d7d7d7; //button disabled color
$white: #ffffff;
$red: #f84b4b;
$blue: #0aa8b3;
$purple: #ed098f;